:root{
    --mainText: #fff;
    --secondaryText: #eeeeee;
    --mainColor: #606856;
    --secondaryColor: #515a58;
    --borderColor: #161914;
    --themeDotBorder: #fff;
    --previewBg: rgb(81, 90, 72, 0.8)
     
}

#submit-btn{
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: rgb(64, 95, 64);
    border: none;
}
