:root{
    --mainText: #fff;
    --secondaryText: #eeeeee;
    --mainColor: #46344E;
    --secondaryColor: #382a3f;
    --borderColor: #1d1520;
    --themeDotBorder: #fff;
    --previewBg: rgb(29, 21, 72, 0.8)
     
}

#submit-btn{
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: rgb(54, 14, 54);
    border: none;
}
